*{
    margin: 0px; padding: 0px;
    box-sizing: border-box;
}
.box {
    width: 40%; height: 25vh;
    background: #333333; margin: 5%;
}
.div-1{
    float: left;
}
.div-2{
    float: right;
}

.clr{
    clear:both
}
@media screen { 500px
    
}


.remAndEm{
    font-size: 20px;
}
#em{
    font-size: 1.2em;
}
#rem{
    font-size: 1.2rem;
}
:root{
    font-size: 20px;
}
.border-red{
    border: 1px solid red;
}
.border-blue{
    border: 1px solid blue;
}
.vh-100{
    height: 100%;
}
.h-50{
    height: 50%;
}
div p{
    text-decoration-color: blue;
}
input{
    border: red;
}

/* 
10) Write a media query that takes effect on screen sizes 500 pixels and less
A) selector: all elements with the class of "div-1" or "div-2" declarations: set float to none


Advanced Selectors
19) selector: all paragraphs that are direct children of div's declarations: set the text color to blue
20) selector: all sections that come immediately after a div declarations: set the text color to green
21) selector: all inputs with the type attribute of email declarations: set border color to red

Github
22) Push your changes to github
23) Open a pull request from your "practice" branch into your "main" branch
25) Merge the pull request
/*